/gadel/chart_deviation.png
/Maksim/chart_deviation.png
/Карим/chart_deviation.png
/gadel/chart_time.png
/Maksim/chart_time.png
/Карим/chart_time.png
/gadel/coin_simulator.py
/Maksim/coin_simulator.py
/gadel/image.png
/Карим/laba.pdf
/Карим/main.py
/Карим/matplt.py
/gadel/Table.xlsx
/ясмина/yasmina.py
/Maksim/Лабораторная Работа N1.docx
/ясмина/отчет.docx
/gadel/Отчёт.md
